<div class="form">
  <form action="/urls" method="post">
    <label>Please enter a long URL:</label>
    <br />
    <input type="text" name="long_url">
    <br />
    <input type="submit" value="Submit">
  </form>
</div>

<div class="list">
  <h3>Recently Used Shortcuts</h3>
  <ul>
  <% @shorts.each do |short| %>
    <li><a href='/<%= short %>'><%= short %></a></li>
  <% end %>
  </ul>
</div>
